//Font family
$font-primary: 'Be Vietnam Pro', sans-serif;

//Font sizes
$font-basic: 1rem;
$font-large: 1.25rem;
$font-xl: 1.563rem;
$font-xxl: 1.953rem;
$font-xxxl: 2.441rem; 
$font-xxxxl: 3.052rem;
$font-small: 0.8rem;
$font-xs: 0.64rem;