.c-bookshelf{
  width: 84%;
  &_categories{
      width: 100%;
      &_list{
        text-align: center;
        padding: 32px 0px 0px 0px;
        margin: 0px;
        &_wrapper{
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4){
              margin-right: 3px;
            }
        }
        
        &_item{
            @include font(16px, 800, #FFFFFF);
        }
    }
  }
  &__shelves{
      margin-bottom: 32px;
  }
  &__shelf{
    display: flex;
    overflow: hidden;
    width: 93%;
    padding: 0px 40px;
    &-title{
      font-size: 32px;
    }
    &-book{
      width: 200px;
      margin-right: 100px;
      img{
        height: 287px;
        width: 200px;
      }
      &:last-child{
        margin-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .c-bookshelf{
    &_categories{
        width: 100%;
        &_list{
          text-align: center;
          padding: 32px 0px 0px 0px;
          margin: 0px;
  
          &_wrapper{
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4){
                margin-right: 3px;
              }
          }
          
          &_item{
              @include font(16px, 800, #FFFFFF);
          }
      }
    }
    &__shelves{
        margin-bottom: 32px;
    }
    &__shelf{
      display: flex;
      overflow: hidden;
      &-title{
        font-size: 32px;
      }
      &-book{
        width: 20%;
        margin-right: 65px;
        &:last-child{
          margin-right: 0px;
        }
      }
    }
  }
}