.c-pos{
  &__wrapper{
    display: flex;
    padding: 30px;
    &-items{
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      margin-right: 50px;
      display: grid;
      grid-template-columns: auto auto auto;
      overflow: hidden;
      overflow-y: auto;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1440px) {
  .c-pos{
    height: 94vh;
    &__wrapper{
      display: flex;
      padding: 0px 30px;
      &-items{
        width: 60%;
        padding: 30px;
      }
      &-receipt{
        width: 40%;
      }
    }
    &__item{
      width: 200px;
    }
  }
}