.c-pos{
  &__wrapper{

  }
}

@media screen and (max-width: 1440px) {
  .c-pos{
    height: 94vh;
    &__wrapper{
      display: flex;
      padding: 30px;
      
      &-items{
        width: 60%;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-right: 50px;
      }
      &-receipt{
        width: 40%;
      }
    }
  }
}