.c-sidebar{
  &__wrapper{
    width: 250px;
    height: 100vh;
    background: #FCFCFC;
    padding: 16px 19px;
    position: fixed;
    overflow: hidden;
    z-index: -1;
    &-sub-menu{
      display: flex;
      flex-direction: column;
    }
    &:hover{
      overflow-y: scroll;
    }
  }
  &__logo{
    display: flex;
    margin-bottom: 40px;
    img{
      width: 35px;
      height: 39px;
      margin-right: 12px;
    }
    &-text{
      @include font( 25px, 700, #11142D)
    }
  }
  &__item{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #808191;
    margin-bottom: 5px;
    &-sub{
      text-decoration: none;
      @include font( 16px, 700, #11142D);
      display: flex;  
      align-items: center;
      padding: 16.5px 0;
      width: 85%;
      border-radius: 12px;
      padding-left: 26px;
      margin-left: 10px;
      margin-bottom: 10px;
      img, svg{
        margin-right: 13px;
      }
      &_active{
        /* Primary color */
        background-color: #475BE8!important;
        @include font( 16px, 700, #FCFCFC);
      }
      &:hover{
        background-color: rgb(247 247 247 / 1);
      }
    }
  }
}

@media (max-width: 1440px) {
  .c-sidebar{
  }
}