.nav{
    &_header{
        &-top{
            margin-bottom: 0px;
        }
        &-bottom{
            margin: auto 0px;
            width: 70%;
            text-align: right;
        }
        &-item{
            list-style: none;
            display: inline;

            &:nth-child(1),
            &:nth-child(2){
                margin-right: 20px;
            }
        }

    }
}