@use "../abstract/absctract-dir" as abs;

.list{
    &_nav{
        &-top{
            margin-bottom: 0px;
        }
        &-bottom{
            margin: auto 0px;
            text-align: right;
        }
        &_item{

            &:nth-child(1),
            &:nth-child(2){
                margin-right: 20px;
            }
        }

    }
    &_categories{
        text-align: center;
        display: flex;
        padding: 0px;

        &_item{
            @include abs.font(abs.$font-primary, abs.$font-small, 800, abs.$color-white);
        }
    }
    &_products{
        padding: 0px;
    }
}