@use "../abstract/absctract-dir" as abs;

.text{
    &-xs{
        font-size: abs.$font-xs;
    }

    &-red{
        color: abs.$color-primary;
    }

    &_product-price{
        @include abs.font(abs.$font-primary, abs.$font-small, 700, abs.$color-text);
    }

    &_link{
        &-plain{
            text-decoration: none;
        }
    }
}
