@use '../abstract/variables' as f;

.header{
    width: 100%;
    &-top{
        text-align: right;
    }
    &-bottom{
        display: flex;
    }
    &_logo{
        font-size: 3.052rem;
        width: 30%;
        margin: 0px;
    }
}
